.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(169, 169, 169, 0.05);
}

.login-image {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.robin-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.auth-form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.sign-up-cont {
    margin: 40px auto;
    overflow-y: auto;
    overflow-x: none;
    margin-bottom: 100px;
}

/* .sign-up-cont::-webkit-scrollbar {
    display: none;
} */

.signup-content-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.1);
    padding-left: 5%;
    text-align: justify;
    border-radius: 5px;
} 

.signup-content-container h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 60px 0px 0px 0px;
}

.signup-content-container p {
    display: block;
    margin-bottom: 60px;
}

.signup-heading {
    font-weight: 600;
    font-size: 0.95em;
    margin-bottom: 10px;
}

.signup-content {
    width: 80%;
    margin-bottom: 50px;
    font-size: 0.9em;
    line-height: 2em;
}

.auth-logo {
    display: block;
    width: 80px;
    margin: 2px auto;
}

.auth-form {
    background-color: white;
    width: 22rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* border: 1px solid rgba(0,200,5, 0.7); */
    padding: 1.5rem;
    border-radius: 0.25rem;
    font-family: Helvetica,sans-serif;
    font-size: 0.8rem;
}

.form-title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #212124;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    width: 100%;
    margin: 0px;
}

.input-container input {
    margin: 3px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    height: 30px;
    width: 100%;
    width:94%;
}

input:focus, select:focus {
    outline: rgba(0,200,5, 0.7);
    border: 1px solid rgba(0,200,5);
    box-shadow: 0 0 3px rgba(0,200,5, 0.7);
}

.input-container label {
    display: flex;
    margin: 3px 10px;
    height: 20px;
    align-items: flex-end;
}

.auth-button {
    background-color: rgb(0,200,5);
    color: white;
    font-size: 0.9rem;
    width: 94%;
    border: none;
    border-radius: 0.25rem;
    padding: 5px;
    margin: 14px 3px;
    align-self: center;
    height: 30px;
}

#demo-button {
    /* background-color: rgba(223, 30, 30, 1); */
    background-color: rgb(150, 150, 150);
    color: white;
    font-size: 0.9rem;
    width: 94%;
    border: none;
    border-radius: 0.25rem;
    padding: 5px;
    margin: 0px 3px;
    align-self: center;
    height: 30px;
}

#demo-button:hover {
    background-color: gray;
    cursor: pointer;
}

.auth-button:hover {
    background-color: rgba(0,180,5,1);
    cursor: pointer;
}

.input-container p {
    text-align: center;
    margin: 10px 0 0 0;
}

.input-container p > a {
    text-decoration: none;
    color: #128fdc;
}

.errors {
    margin: 10px auto;
    width: 75%;
    list-style: none;
    padding: 5px;
    background-color: #f7dddf;
    text-align: center;
    border-radius: 7px;
}

.errors li {
    list-style-type: none;
    padding: 5px;
    font-size: 14px;
    color: #cc5e67;
}